{% extends 'base.html' %}

{% block title %}Profile{% endblock title %}

{% block content %}

<h2>Welcome, {{ user.first_name }} {{ user.last_name }}!</h2>
<p>Email: {{ user.email }}</p>

<h2 class="my-5 text-center">Books You Borrow</h2>

{% if borrowed_books %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Borrow Date</th>
            <th>Return Book</th>
        </tr>
    </thead>
    <tbody>
        {% for item in borrowed_books %}
        <tr>
            <td>{{ item.book.title }}</td>
            <td>{% for category in item.book.category.all %}
                    {{ category.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td>{{ item.borrow_date|date:"M d, Y" }}</td>
            <td>
                <form method="post" action="{% url 'return_book' item.book.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-sm">Return</button>
                </form>
            </td>
        </tr>
        {% empty %}
            <tr>
                <td colspan="4">You haven't borrowed any books yet.</td>
            </tr>
        {% endfor %}    
    </tbody>
</table>
{% else %}
<p>You haven't borrowed any books yet.</p>
{% endif %}

{% endblock content %}
